.face{
    width: 400px;
    height: 400px;
    background-color: rgb(226, 226, 14);
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: rgb(179, 3, 3);
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye, .right-eye{
    width: 65px;
    height: 65px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye{
    left: 250px;

}