.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    height: 540px;
}

img{
    width: 100%;
    height: 55%;
    border-radius: 25px;
}

h2{
    color: rgb(87, 204, 58);
}

span{
    color: rgb(211, 201, 57);
}

h4{
    text-align: right;
    color: rgb(223, 109, 128);
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}