*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1,h3{
    color: rgb(150, 93, 93);
}

#login{
    background-color: rgba(170, 140, 156, 0.603);
    color: rgb(3, 1, 19);
}

.upvote{
    background-color: rgb(199, 183, 96);
}